:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.three-scene {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #110 20%, #000);
  /*background: linear-gradient(#111, #000);*/
}

#hud-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: black;
  border-top-left-radius: 20%;
  /*border-bottom-left-radius: 20%;*/
}

#hud-spells {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 5px;
}

#hud-spells button {
  font-size: 1.4rem;
  /*border-radius: 10%;*/
  padding: 10px;
}

#hud-spells button.empty {
  color: grey;
}
